.classpath
.gitignore
.gitignore~
.project
dependency-reduced-pom.xml
.settings
build.xml
/target
/bin/
/save/
/.externalToolBuilders/
/.sonar/
/.idea/
*.jar
/out/
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
