<project basedir="." default="deploy" name="spigot-bending">
    <target name="init">
        <property name="launcher" value="run.bat" />
        <property name="sourceDir" value="src" />
        <property name="javaDir" value="src/main/java" />
        <property name="rscDir" value="src/main/resources" />
        <property name="outputDir" value="bin" />
        <property name="libdir" value="libs" />
        <property name="jarname" value="spigot-bending" />
        <property name="config" value="config/" />
        <property name="dist" value="/home/minecraft" />
    </target>
    <target name="clean" depends="init">
        <delete dir="${outputDir}" />
    </target>
    <target name="prepare" depends="clean">
        <mkdir dir="${outputDir}" />
    </target>
    <target name="compile" depends="prepare">
        <javac destdir="${outputDir}" debug="true" debuglevel="source,lines,vars" target="1.7" source="1.7">
            <src path="${javaDir}"/>
            <classpath>
                <fileset dir="${libdir}">
                    <!-- Add dependency here -->
                </fileset>
            </classpath>
        </javac>
    </target>
    <target name="deploy" depends="compile">
          <zip destfile="${outputDir}/${jarname}.jar">
            <fileset dir="${outputDir}"/>
                <fileset dir="${rscDir}">
                    <include name="plugin.yml" />
                    <include name="messages.properties" />
                </fileset>
          </zip>
    	  <copy file="${outputDir}/${jarname}.jar" tofile="${dist}/plugins/${jarname}.jar"/>
    </target>
    <target name="run" depends="deploy">
        <exec  dir="${dist}" executable="bash">
          <arg line="${launcher}"/>
        </exec>
    </target>
	
	<!-- Define the SonarQube target -->
	<target name="sonar" depends="deploy">
		<property name="sonar.host.url" value="YOUR_SONAR_URL_HERE" />
		<property name="sonar.login" value="YOUR_SONAR_LOGIN_HERE" />
		<property name="sonar.password" value="YOUR_SONAR_PASSWORD_HERE" />
		
		<property name="sonar.jdbc.url" value="YOUR_JDBC_CONNECTION_URL_HERE" />
		<property name="sonar.jdbc.username" value="YOUR_JDBC_LOGIN_HERE" />
		<property name="sonar.jdbc.password" value="YOUR_JDBC_PASSWORD_HERE" />
		
		<property name="sonar.projectKey" value="spigot-bending" />
		<property name="sonar.projectName" value="spigot-bending" />
		<property name="sonar.projectVersion" value="5.0" />
		<property name="sonar.language" value="java" />
		<property name="sonar.sources" value="${javaDir}" />
		<property name="sonar.binaries" value="${outputDir}" />
		<property name="sonar.libraries" value="${libdir}" />
		
		<taskdef uri="antlib:org.sonar.ant" resource="org/sonar/ant/antlib.xml">
			<!-- Update the following line, or put the "sonar-ant-task-*.jar" file in your "$HOME/.ant/lib" folder -->
			<classpath path="sonar-ant-task-2.3.jar" />
		</taskdef>
	 
		<!-- Execute the SonarQube analysis -->
		<sonar:sonar xmlns:sonar="antlib:org.sonar.ant"/>
	</target>
</project>